*{
    margin: 0;
    padding: 0;
}
body{
    background:#f8f8f8;
}
.form-group input,
.form-group button{
    border:0;
    height:40px;
}
.form-index{
    margin-top:50px;
}
.kolom-info{
    border: dashed 1px green;
    border-radius: 5px;
    padding: 10px;
}